@import 'fonts.css';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #ECF0F1;
}


/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}


textarea {
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-color: lightslategray;
	padding: 5px;
	font-size: 15px;
	color: #2980B9;
}

textarea::placeholder {
	font-size: 16px;
	color: #7f8c8d;
}

button {
	font-size: .8em;
	cursor: pointer;
	outline: none;
	padding: 0.75em 2em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	color: #2980B9;
	background-color: white;
	transition: all 0.15s ease;
	box-sizing: border-box;
	border: 1px solid #2980B9;
}

button:hover{
	background-color: #2980B9;
	color: white;
}

button:active {
	background-color: white;
	color: #2980B9;
}

.bsecondary {
	background-color: #ECF0F1;
	color: #2980B9;
	border: 1px solid #2980B9;
}

select {
	background: white;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-color: lightslategray;
	padding: 5px;
	height: 30px;
	font-size: 15px;
	color: #2980B9;

}

input {
	background: white;
	width: 100%;
	border-radius: 5px;
	border: 1px solid lightslategray;
	padding: 5px;
	height: 30px;
	font-size: 15px;
	color: #2980B9;
}

.half {
	width: 50%;
	padding: 2%;
	float: left;
}

.text-center {
	text-align: center;
}

.sidenav a:hover,
.sidenav a.router-link-active,
.sidenav a.router-link-exact-active {
	color: white;
	cursor: pointer;
}

.primary {
	color: #5FE4A3;
}

.default {
	color: #5B7F6E;
}

.default-alt {
	color: #55CC92;
}

.secondary {
	color: #B7FFDC;
}